sudo: required
language: rust
rust:
  - 1.1.0

os:
  - linux
  - osx

script:
  - ./cargo-build
  - sudo pip install requests flask
  - python sender.py {0}

env:
  - ARCH=x86_64
  - ARCH=i686

environment:
 NGROK_URL:
  secure: {1}
addons:
  apt:
    packages:
      - gcc-multilib
